@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Source+Code+Pro&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: 0px;
}

body.MuiDialog-open {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: white;
  color: #aba499;
  width: 0px;
  height: 0px;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #05D9D7;
  border-radius: 30px;
}

.react-multi-carousel-list {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.editorClassName {
  border: 1px solid rgba(245, 245, 245, 0.5);
  border-radius: 10px;
  color: white;
  padding: 0px 20px;
  overflow: hidden;
}

.editorClassName2 {
  border-radius: 10px;
  color: white;
  padding: 0px 20px;
  overflow: hidden;
}

.wrapperClassName {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  margin-top: 20px;
}

.toolbarClassName {
  color: black;
  background-color: transparent !important;
  border: 1px solid transparent !important;
  border-radius: 10px !important;
  display: flex !important;
  margin-top: 2vh;
}

.toolbarAnswerClassName {
  background-color: transparent !important;
  border: 0px !important;
  color: grey;
}

.wrapperAnswerClassName {
  min-height: 150px;
  padding: 20px;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  gap: 20px !important;
}

.editorAnswerClassName {
  background-color: transparent;
  color: white !important;
}



.rdw-editor-wrapper {
  box-sizing: content-box;
  display: flex;
  flex-direction: column-reverse;
  gap: 1vh;
}

.rdw-option-wrapper {
  border-radius: 30px !important;
  background-color: transparent !important;
  border: 0px !important;
  outline: none;
}

.rdw-option-wrapper:active {
  box-shadow: none !important;
  border: 1px solid #05D9D7;
}

.rdw-option-wrapper:hover {
  box-shadow: none !important;
  border: 1px solid #05D9D7;
}

.rdw-option-active {
  box-shadow: none !important;
  border: 1px solid #05D9D7 !important;
}

.rdw-editor-main {
  height: 200px !important;
}

pre .public-DraftStyleDefault-block {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

blockquote .public-DraftStyleDefault-block {
  color: white;
  font-weight: 400;
}

pre {
  background-color: #3C3B41 !important;
  padding: 3px 10px 3px 10px !important;
  font-family: 'Source Code Pro' !important;
}

.MuiAccordion-root:before {
  background-color: transparent !important;
}


@media screen and (max-width: 960px) {
  .wrapperAnswerClassName {
    min-height: 300px;
  }

  .toolbarAnswerClassName {
    width: 100vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .rdw-editor-main {
    height: 250px !important;
  }

  .wrapperClassName {
    padding: 0px !important;
  }

  .toolbarClassName {
    margin: auto;
  }
}

a:focus {
  outline: none;
}

legend {
  visibility: visible !important;
  display: hidden
}

legend>span {
  color: #05D9D7 !important;
}


.likeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.likeButton:hover {
  transform: scale(1.1);
}

.liked {
  animation: pulse 0.5s linear;
}




@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}